[Unit]
Description=Rover
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/sudo /usr/bin/python3 -u /home/pi/motors.py
WorkingDirectory=/home/pi
User=pi

[Install]
WantedBy=multi-user.target
